.cointainerMovieDetails{
    width: 50%;
    border: 1px solid red;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 167px; */
}
.movieDetailImg{
    width: 50%;
}
.movieDetailImg img {
    width: 100%;
    height: auto;
}
.detailmovies{
    width: 50%;
    border: 1px solid red;
    text-align: center;
}