.cointainerMovieDetails{
    width: 25%;
    /* border: 1px solid red; */
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 167px; */
}
.movieDetailImg{
    width: 200px;
}
.movieDetailImg img {
    width: 100%;
    height: auto;
}