.mainNav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 24px;
    margin: auto;
}
.mainNav img {
    width: 200px;
    cursor: pointer;
    margin: auto;
}
.mainNav ul {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    gap: 10px;
    list-style: none;
    width: 40%;
    cursor: pointer;
    margin: auto;
}
.mainNav button {
    /* width: 200px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: auto;
}
.mainNav button:hover {
    color: #555;
}
.mainNav ul li a {
    text-decoration: none;
}